@import '@/assets/helpers/variables.scss';

.rightside {
  position: absolute;
  right: 0;
  top: 0;
}

.leftside {
  position: absolute;
  left: 0;
  top: 0;
}

.rightside, .leftside {
  height: 100%;
  width: calc((100% - $containerWidth) / 2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.1s ease-in-out;
  position: fixed;
  img {
    width: $arrowSize;
    position: fixed;
    top: calc(50% - $arrowSize/2);
  }
  .year-counter {
    position: fixed;
    top: calc(50% + $arrowSize/2);
    font-size: 1.3em;
    background-color: black;
    padding: 0px 5px;
    font-weight: bold;
    border-radius: 5px;
  }
  &:hover {
    background-color: darken($backgroundColor, 10);
  }
}