// SIZES //
$containerWidth: 90%;
$cardWidth: 24%;

$arrowSize: 3em;

// COLORS //
$backgroundColor: #c1a6a6;
$backgroundColorDarker1: #aa8d8e;
$backgroundColorDarker2: #967878;
$backgroundColorLighter: #dbcbcc;

$textColor: #f7f7f7;
$textColorSelected: lightgreen;
$drawerTextColor: #000;

$borderColor: #967879;
$darkColor: #282323;