@import '@/assets/helpers/variables.scss';
@import '@/assets/helpers/mixins.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor;
  font-size: 20px;
}
body {
  background: $backgroundColor;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .container {
    width: $containerWidth;
    background-color: $backgroundColorDarker2;
    padding: 0px 25px;
    margin-left: calc((100% - $containerWidth) / 2);
    box-sizing: border-box;
  }
}

.mb0 {
  margin-bottom: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.noselect {
  @include noselect;
}