@import '@/assets/helpers/variables.scss';

.card {
  max-width: $cardWidth;
  display: flex;
  flex-direction: column;
  &__position {
    padding: 5px 0px;
    text-align: center;
  }
  &__photo {
    width: 100%;
    img {
      width: inherit;
    }
  }
  &__stats {
    .el-progress {
      margin-bottom: 5px;
    }
  }
}

.missed-setting {
  border: 1px #ff0000 solid;
  animation: blinker .9s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  to {
    opacity: 0.7;
  }
}
.missed-setting:hover {
  animation: 0;
}