.card {
  max-width: 24%;
  display: flex;
  flex-direction: column;
  &__position {
    padding: 5px 0px;
    text-align: center;
  }
  &__photo {
    width: 100%;
    img {
      width: inherit;
    }
  }
  &__stats {
    .el-progress {
      margin-bottom: 5px;
    }
  }
}