.map-container {
  margin-top: 50px;
  text-align: center;
}
.map-block {
  display: inline-block;
  width: 50%;
  position: relative;
  text-align: center;
}
.map-img {
  width: 100%;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.part {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  &:hover {
    opacity: 0.25;
  }
  &.active {
    opacity:0.5
  }
}