.inscription {
  font-size: 3.75em;
  max-width: 1em;
  text-align: center;
  word-wrap: break-word;
}
.registration {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration__form {
  .el-input {
    min-width: 400px;
  }
  label {
    color: #f7f7f7;
    font-size: 1.2em;
    margin-right: 25px;
  }
  &:last-child div {
    display: flex;
    justify-content: flex-end;
    button {
      font-size: 1.2em;
    }
  }
  .el-input__inner {
    font-size: 1.3em;
  }
  .el-button {
    color: #af2121;
    &:hover {
      color: white;
    }
  }
}