@import '@/assets/helpers/variables.scss';

.inscription {
  text-transform: uppercase;
  font-size: 3.75em;
  max-width: 1em;
  text-align: center;
  word-wrap: break-word;
}
.registration {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration__form {
  .el-input {
    min-width: 400px;
  }
  label {
    color: $textColor;
    font-size: 1.2em;
    margin-right: 25px;
  }
  &:last-child div {
    display: flex;
    justify-content: flex-end;
  }
  .el-input__inner {
    font-size: 1.3em;
  }
}